.login-page{
    padding-top: calc(10% - 3rem);;
}

.login-container{
    border-radius: 1rem;
    background-color: #46454d;
    width: 25rem !important;
    /* height: 55%; */
    height: auto;
    color: #D6CCC2;
}

.login-form{
    color: #D6CCC2 !important;
    background-color: #46454d !important;
    border: solid 0px black !important;
}

.login-form-row{
    margin-top: 0.5rem !important;
}

.login-header{
    padding-top: 1rem;
}

.login-btn{
    margin-top: 2rem !important;
    width: 100%;
    margin-bottom: 0.75rem;
}

.login-signup-link{
    margin-top: 1rem !important;
}

.login-buttons-container{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 25%;
}

.login-error-msg{
    margin-top: 1rem;
    font-size: 1.1rem;
    color: #e73838;
    text-shadow: -0.2px 0 black, 0 0.2px black, 0.2px 0 black, 0 -0.2px black;
}

@media only screen and (max-width: 810px){
    .login-page{
        padding-top: 3rem;
    }

    .login-container{
        max-width: 90%;
    }
}