.fullHeight{
    height: 100%;
}

.detail-holder-top{
    height: 50%;
    padding-top: 1rem;
}

.detail-holder-bottom{
    height: 50%;
}

@media only screen and (max-height: 625px){
   
    .detail-holder-bottom{
        padding-top: 4rem;
        height: 80%;
    }

    #html{
        background-color: #46454d;
    }
}