.profile-content-container{    
    height: 100%;
}

.profile-user-picture{
    font-size: 12rem;
}

.profile-component-container{
    background-color: #46454d;
}

.profile-username{
    margin-top: 8%;
}

.logout-btn{
    width: 7rem !important;
    margin-top: 50%;
}