.full-height{
    height: 100%;
}

.activity-checkbox-container{
    height: 40%;
    overflow-y: auto;
    border: solid 2px black;
    border-radius: 20px;
    padding-left: 0rem !important;
    /* padding-top: 0.5rem !important; */
    background-color: #6b6a72;
}

.activity-checkbox{
    margin-left: 3rem !important;
    margin-right: -4rem;
}

.activity-checkbox-div{
    align-items: center;
}

.calendar-day-detail-btn-container{
    padding-right: 2rem !important;
}

.activity-checkbox-div:hover{
    background-color: #7c7b83;
}

.calendar-day-activity-label{
    height: 2rem;
    font-size: 1.2rem;
    font-weight: 600;
    text-shadow: 1px 0px 10px black;
}

.calenday-day-detail-delete-activity-btn{
    float: right;
    padding-top: 0rem !important;
    padding-bottom: 0rem !important; 
}

.calenday-day-detail-delete-activity-btn-icon{

}

.day-details-header{
    margin-bottom: 0.5rem;
}

.day-details-btn{
    margin-top: 1rem;
}

.activity-comments-holder{
    margin-top: 1rem;
}

.activity-save-btn{
    width: 6rem;
}

.add-goal-activities-month-btn{
    width: 15rem;
}