.signup-page{
    padding-top: calc(10% - 3rem);;
}

.signup-container{
    border-radius: 1rem;
    background-color: #46454d;
    width: 25rem !important;
    /* height: 55%; */
    height: auto;
    color: #D6CCC2;
}

.signup-form{
    color: #D6CCC2 !important;
    background-color: #46454d !important;
    border: solid 0px black !important;
}

.signup-form-row{
    margin-top: 0.5rem !important;
}

.signup-header{
    padding-top: 1rem;
}

.signup-repeat-pwd{
    margin-top: 0.6rem !important;
}

.login-signup-link{
    margin-top: 1rem !important;
}

.login-buttons-container{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 25%;
}

.login-btn{
    margin-top: 2rem !important;
    width: 100%;
    margin-bottom: 0.75rem;
}